# =========================
# Maven
# =========================
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# --- MAVEN WRAPPER ---
# Ignoramos el binario pesado (.jar) para no ensuciar el repositorio.
# Git SÍ rastreará automáticamente los scripts (mvnw, mvnw.cmd) y el archivo maven-wrapper.properties
.mvn/wrapper/maven-wrapper.jar

# =========================
# Quarkus
# =========================
.quarkus/

# =========================
# Entornos de Desarrollo (IntelliJ, Eclipse, VS Code)
# =========================
.idea/
*.iml
*.ipr
*.iws
.settings/
.classpath
.project
.factorypath
.vscode/
*.code-workspace

# =========================
# Logs y Archivos del Sistema Operativo
# =========================
*.log
.DS_Store
Thumbs.db